@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

#book-detail {
  h1 {
    font-size: $font-size-base * 1.8;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: $font-size-base * 1.6;
    color: $gray-800;
  }

  h3 {
    font-size: $font-size-base * 1.4;
  }

  img.cover {
    width: 50%;

    @include media-breakpoint-up(md) {
      width: 12rem;
    }
  }

  .links {
    margin: $spacer/2 0;

    a {
      position: relative;
      padding-left: 30px;
      margin-right: $spacer/2;
      margin-bottom: $spacer/2;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 20px;
        position: absolute;
        top: 5px;
        left: 4px;
      }
    }
  }

  .meta {
    color: $gray-700;
    margin: $spacer 0;

    div {
      margin-bottom: $spacer/5;
    }
  }

  .description {
    margin-top: $spacer;
    margin-bottom: $spacer/2;

    p {
      margin-bottom: $spacer/2;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .added {
    margin-top: $spacer/2;
    margin-bottom: $spacer;
    color: $gray-500;
  }

  .back {
    margin-bottom: $spacer;
  }
}
