@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.tags {
  display: block;

  .badge {
    margin-right: 0.4rem;

    &:last-child {
      margin-left: 0;
    }
  }

  .badge.red {
    background-color: $red;
  }

  .badge.orange {
    background-color: $orange;
  }

  .badge.yellow {
    background-color: $yellow;
  }

  .badge.green {
    background-color: $green;
  }

  .badge.blue {
    background-color: $blue;
  }

  .badge.purple {
    background-color: $purple;
  }
}
