@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.tags {
  display: block;

  .badge {
    margin-right: 0.4rem;

    &:last-child {
      margin-left: 0;
    }
  }

  $colors: (
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    blue: $blue,
    purple: $purple,
  );

  @each $color in map-keys($colors) {
    $color-value: map-get($colors, $color);

    .badge.#{$color} {
      background-color: $color-value;

      &.clickable {
        &:hover,
        &:active {
          background-color: lighten($color-value, 30%);
          color: darken($white, 90%);
        }
      }
    }
  }
}
