@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.navbar-brand {
  position: relative;

  &, &.active {
    margin-right: 0.5rem;
  }

  img {
    height: 36px;
    position: relative;
    top: -1px;
  }

  .name {
    margin-left: 46px;
  }
}
