name: Node CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Build
        run: |
          npm ci
          npm run pipeline:build
          npm run pipeline:test
        env:
          CI: true
          PUBLIC_URL: 'https://dkdb.cz'
          COVERALLS_REPO_TOKEN: "${{ secrets.COVERALLS_REPO_TOKEN }}"
          COVERALLS_GIT_BRANCH: "${{ github.ref }}"
      - name: Create bundle
        if: startsWith(github.ref, 'refs/tags/')
        run: npm run bundle
        env:
          CI: true
      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/bundle.zip
            LICENSE
          body: 'See [CHANGELOG](https://github.com/knuhol/dkdb-fe/blob/master/CHANGELOG.md) for the full list of changes.'
          prerelease: ${{ contains(github.ref, '-') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
